pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

table {
	border-spacing: 0;
}

td, th {
	padding-right: 1em;
}

.toggle-container .toggler {
	cursor: pointer;
}

.toggle-container .toggle-icon {
	font-weight: normal;
	margin-right: .3em;
}

.toggle-container .togglee {
	display: none;
}

.toggle-container .toggle-visible {
	display: block;
}

#share-link {
	display: none;
}
