pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

.toggle-container .toggler {
	cursor: pointer;
}

.toggle-container .toggle-icon {
	font-weight: normal;
	margin-right: .3em;
}

.toggle-container .togglee {
	display: none;
}

.toggle-container .toggle-visible {
	display: block;
}
