body.framelike {
	margin: 0;
	height: 100vh;
}

body.framelike #logo {
	max-width: 100%;
}

pre {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

table {
	border-spacing: 0;
}

td, th {
	padding-right: 1em;
}

.banner {
	background-color: #d7e3f4;
	border-color: #87aade;
	border-style: solid;
	border-width: 0 0 1px;
	box-sizing: border-box;
	display: none;
	font-size: 90%;
	line-height: 1.4em;
	padding: .5em 2em;
	position: relative;
	text-align: center;
	width: 100%;
}

.banner .hidelink {
	align-items: center;
	display: flex;
	font-weight: bold;
	height: 100%;
	padding: 0 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

.toggle-container .toggler {
	cursor: pointer;
}

.toggle-container .toggle-icon {
	font-weight: normal;
	margin-right: .3em;
}

.toggle-container .togglee {
	display: none;
}

.toggle-container .toggle-visible {
	display: block;
}

#share-link {
	display: none;
}

.browser {
	margin-bottom: 1em;
}

.browser-header {
	margin-bottom: 0.2em;
}

.browser-item {
	cursor: pointer;
	font-weight: normal;
}

.browser-item.active {
	font-style: italic;
}

.browser-item.directory .browser {
	background-color: rgba(0, 0, 0, 0.05);
	padding-left: 1em;
}

.browser-item {
	padding-left: 1em;
	text-indent: -1em;
}

#sidebar {
	box-sizing: border-box;
	float: left;
	height: 100%;
	overflow: auto;
	padding: 1em;
	width: 15em;
}

#sidebar h3 {
	margin-top: .2em;
}

#sidebar a, #sidebar h3 {
	padding-left: .5em;
}

#viewer {
	height: 100%;
	overflow: auto;
}

#viewer #loading {
	font-style: italic;
	padding-top: 8em;
	text-align: center;
}

@media (max-width: 800px) {
	body {
		overflow: auto;
	}

	body.framelike {
		overflow: auto;
	}

	#sidebar {
		height: auto;
		width: 100%;
		float: none;
		overflow: initial;
	}

	#viewer {
		height: auto;
		clear: both;
		margin-left: 0;
		overflow: initial;
	}
}
