<?php
define('CLOOGLE_DB_HOST', 'db');
define('CLOOGLE_DB_USER', 'cloogleuser');
define('CLOOGLE_DB_NAME', 'cloogledb');
define('CLOOGLE_DB_PASS', 'clooglepass');

define('CLOOGLE_KEEP_STATISTICS', true);
