<?php
define('CLOOGLE_DB_HOST', 'localhost');
define('CLOOGLE_DB_USER', 'cloogleuser');
define('CLOOGLE_DB_NAME', 'cloogledb');
define('CLOOGLE_DB_PASS', '********');

define('CLOOGLE_KEEP_STATISTICS', true);
