body {
	color: #222;
	font-family: sans-serif;
	margin: 0 0 1em;
}

td, th {
	vertical-align: top;
}

th {
	text-align: left;
}

a {
	color: #26c;
}

.parbreak:before {
	content: '';
	display: block;
	height: 0;
	margin-top: .5em;
}

#header {
	margin-top: 10%;
	text-align: center;
	width: 100%;
}

#header.result-view {
	margin-top: 0%;
	text-align: left;
}

#header.result-view > * {
	vertical-align: top;
}

#logo {
	display: inline-block;
	margin: 20px;
	width: 200px;
}

#header.result-view #logo {
	margin-bottom: 0;
}

#search {
	display: block;
	text-align: center;
}

#header.result-view #search {
	display: inline-block;
	margin-top: 65px;
	text-align: left;
}

#search-str, #search button {
	border: 1px solid #ccc;
	border-radius: 2px;
	box-sizing: content-box;
	display: inline-block;
	height: 20px;
	padding: 2px .5em;
	vertical-align: middle;
}

#search-str {
	font-family: monospace;
	font-size: 14px;
	height: auto;
	min-height: 20px;
	outline: none;
	padding-top: 4px;
	padding-bottom: 0;
	position: relative;
	text-align: left;
	width: 20em;
}

#search-str #caret-spacer {
	left: .4em;
	position: absolute;
	top: 4px;
}

#search-str.placeholder:before {
	color: #aaa;
	content: 'See "How to use" for query examples';
	cursor: text;
	font-family: sans-serif;
}

a.hidden {
	text-decoration: none;
}

#searchlinks {
	display: inline-block;
	font-size: 90%;
	list-style-type: none;
	padding: 0;
}

#header.result-view #searchlinks {
	margin: .3em 0 0;
}

#searchlinks li {
	cursor: pointer;
	color: #6f7c91;
	float: left;
	text-decoration: underline;
}

#searchlinks li.active {
	color: #373e48;
}

#searchlinks li.disabled {
	cursor: default;
	text-decoration: none;
}

#searchlinks li.separator {
	cursor: default;
	color: #939dac;
	padding: 0 .5em;
	text-decoration: none;
}

#share-link.visible {
	display: inline-block;
}

#header.result-view #share-link.visible {
	display: block;
	margin: 1em 0 0 245px;
}

.tooltip {
	background: #f8f8f8;
	display: block;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: opacity 0.25s ease-out;
}

#header.result-view .tooltip {
	padding-left: 245px;
}

.tooltip.visible {
	border-width: 1px 0;
	border-color: #ccc;
	border-style: solid;
	margin-top: 1em;
}

.tooltip div {
	text-align: left;
	display: inline-block;
}

.visible {
	height: auto;
	opacity: 1;
}

#advanced.visible {
	padding-bottom: .6em;
	padding-top: .6em;
}

#advanced #libraries .libraries-list {
	display: inline-block;
	margin-right: 1em;
	margin-top: 1em;
	vertical-align: top;
}

#advanced #libraries .libraries-list .libraries-heading {
	display: block;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#helptext code, #helptext .code {
	background-color: #eeeeee;
	font-family: monospace;
	font-size: 90%;
	margin-right: .2em;
	padding: 1px 4px;
	border: 1px solid #d0d0d0;
	border-radius: 2px;
}

#helptext .description {
	padding-left: .3em;
}

#search-results {
	margin-top: 1em;
}

#suggestions {
	padding: 1em;
}

#search-results p {
	padding-left: 1em;
}

.core-module {
	font-style: italic;
}

.result-basic {
	background-color: #e8e8e8;
	padding: .2em .2em .2em 1em;
}

.result-basic .usages-link {
	float: right;
	margin-right: 1em;
	font-size: 85%;
}

.result-extra {
	background-color: #f4f4f4;
	font-size: 85%;
	padding-left: 1em;
}

.result-extra code, .result-extra pre {
	font-size: 110%;
}

.result-extra .togglee ul {
	margin: 0;
	padding-left: 2em;
}

.result-extra.toggle-container {
	padding-left: 2.2em;
}

.result-extra .toggler {
	margin-left: -1em;
}

.result-code {
	margin: 1em 0 1.5em 1em;
}

.general-help {
	padding: 0 1em;
}

#more {
	padding-left: 1em;
}

.examples {
	padding-bottom: .5em;
}

.example {
	font-size: initial;
	margin: .5em;
}

.keyword.optional {
	color: #777;
}

@media (max-width: 600px) {
	#header.result-view #logo {
		margin-bottom: 20px;
	}

	#advanced #libraries .libraries-list {
		display: block;
	}

	#advanced #libraries .libraries-list .libraries-heading {
		margin-bottom: .5em;
		text-align: left;
	}

	#search {
		margin: 0 1em 1em !important;
	}

	.tooltip {
		padding-left: 1em !important;
	}

	#header.result-view #share-link {
		display: none;
	}

	#header.result-view #share-link.visible {
		display: block;
		margin-left: 1em !important;
	}
}
