body {
	color: #222;
	font-family: sans-serif;
}

a {
	color: #26c;
}

#header {
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

#header.result-view {
	margin-top: 0%;
	text-align: left;
}

#header.result-view #search {
	display: inline-block;
}

#logo {
	display: inline-block;
	margin: 20px 20px;
}

#search {
	display: block;
	text-align: center;
}

a.hidden {
	text-decoration: none;
}

#searchlinks {
	display: inline-block;
	font-size: 90%;
	list-style-type: none;
	padding: 0;
}

#searchlinks li {
	cursor: pointer;
	color: #6f7c91;
	float: left;
	text-decoration: underline;
}

#searchlinks li.active {
	color: #373e48;
}

#searchlinks li.separator {
	cursor: default;
	color: #939dac;
	padding: 0 .5em;
	text-decoration: none;
}

.tooltip {
	display: block;
	background: #fdfdfd;
	max-height: 0px;
	transition: max-height 0.15s ease-out;
	overflow: hidden;
}

.tooltip div {
	text-align: left;
	display: inline-block;
}

div.visible {
	max-height: 500px!important;
}

#helptext code, #helptext .code {
	background-color: #f9f2f4;
	font-family: monospace;
	font-size: 90%;
	padding: 1px 4px;
}

.core-module {
	font-style: italic;
}

.result-basic {
	background-color: #e8e8e8;
	padding: .2em;
}

.result-extra {
	background-color: #f4f4f4;
	font-size: 85%;
	padding-left: .2em;
}

.result-extra.toggle-container {
	padding-left: 1.2em;
}

.result-extra .toggler {
	margin-left: -1em;
}

.result-code {
	margin: 1em 0 1.5em 1em;
}
