[submodule "CleanTypeUnifier"]
	path = backend/CleanTypeUnifier
	url = https://github.com/camilstaps/CleanTypeUnifier
[submodule "backend/CleanPrettyPrint"]
	path = backend/CleanPrettyPrint
	url = https://github.com/camilstaps/CleanPrettyPrint.git
[submodule "backend/clean-platform"]
	path = backend/clean-platform
	url = https://gitlab.science.ru.nl/clean-and-itasks/clean-platform.git
