[submodule "CleanTypeUnifier"]
	path = backend/CleanTypeUnifier
	url = https://github.com/camilstaps/CleanTypeUnifier
[submodule "CleanLevenshtein"]
	path = backend/CleanLevenshtein
	url = https://github.com/camilstaps/CleanLevenshtein
[submodule "backend/CleanPrettyPrint"]
	path = backend/CleanPrettyPrint
	url = https://github.com/camilstaps/CleanPrettyPrint.git
